<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Car Rental</title>
    <meta name='viewport' content="width=device-width,initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico')}}">
</head>

<div>Click here to continue checking the availability:</div>
<br>
<div>
        <a href="available"> <button class="button" name="available"> available </button> </a>

</div>


</html>